.card {
  background-color: rgb(43, 43, 43);
}
.card-title,.card-text{
  color: white;
}
h1 {
  color: white;
  width: 1320px; 
}
.fav{
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.fav:hover{
  background-color: transparent;
}
fav:active{
  background-color: white;
}
::placeholder{
  color: black;
}